
    <!doctype html>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div class="w3-container w3-center">
      <br/>
    <title>Alpha and Heuristic Mining Webservice</title>
   
    <h1>Alpha and Heuristic Mining Webservice</h1>
    <br/><br/>
    <form method=post enctype=multipart/form-data>

      <h4>Step 1: Upload a xes-File:</h4>
      <div class="w3-container w3-margin-left">
        <div class="w3-container w3-margin-left">
          <div class="w3-container w3-margin-left">
            <div class="w3-container w3-margin-left">
              <div class="w3-container w3-margin-left">
                <div class="w3-container w3-margin-left">

              <input type=file name=file>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>



      <br/><br/>
      <h4>Step 2: Choose a Mining Algorithm</h4>

      <input type=submit name="Alpha Miner" value="Alpha Miner">
      <button type=button onclick="show()">Heuristic Miner</button><br/><br/>

      <script>
        function show() {
                document.getElementById("ifShow").style.display = "block";
               
        }
      </script>

      <div id="ifShow" style="display: none;">
        <h5><b>Step 2.1: Set the thresholds and click submit</b><h5><br/>
        <label for="Heuristic"> Absolute Number of Edges </label><input type=number class="form-control" name="Absolute" value="1"><br/><br/>
        <label for="Heuristic"> Relative Number of Edges </label><input type=number class="form-control" name="Relative" step="any" value="0.3"><br/><br/>
        <input type=submit name="Submit" value="Submit">
      </div>

      
      <br/><br/>
      <br/>
      <h5><b> {{ titel }} </b></h5>
      <p>{{ descrx }}</p>
      <p>{{ descry }}</p>
      <object type="image/svg+xml" data="{{img_url}}"></object>
    </div>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    
    </div>
    </form>
  </div>


